# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cache
**/__pycache__
.dccache

# PyCharm
.idea/*

# Visual Studio Code
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

# other
*.pyc
*.swo
*.swp
*.*~
*.egg
*.egg-info
.#*.*
TAGS
docs
.mypy_cache
.pytest_cache
build
dist
.eggs
gmon.out
.vim
